<h1>U-BREW</h1>
<p>U-BREW is simple app for finding breweries by state. Select a state from the dropdown to view the top 50 results for that state.</p>
<p>Brewery data is sourced in real time from the <a href="https://www.openbrewerydb.org/">openbrewerydb</a> API. Results are displayed in the order in which the API delivers them, not popularity or rating.</p>
<div class="project-details">
	<p>CODE BY: <a href="https://www.kylepcole.com/">Kyle P. Cole</a>
	<p>YEAR: 2020</p>
	<p>TECHNOLOGY STACK: Angular, Javascript, HTML, SCSS</p>
	<p>REFERENCES: DesignCourse's <a href="https://www.youtube.com/watch?v=_TLhUCjY9iA">Angular 8 Crash Course</a></p>
</div>
