$primary: rgb(226, 124, 62);

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 25%;
        // height: 200px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        border-radius: 1em;

        p {
            margin: 0;
        }

        p.name {
            font-weight: bold;
            font-size: 1.2rem;
        }
        p.country {
            // text-transform: uppercase;
            font-size: .9rem;
            flex-grow: 1;
        }

        p.address {
            font-size: .9rem;
        }

        p.brewType {
            font-size: .6rem;
            color: darken(lightgray, 30);
            margin-bottom: .75em;
        }
    }
}

.filter-container {
    margin-bottom: 2em;
    
    .state-select-label {
        display: inline;
    }

    select.state-select {
        background-color: #fff;
        font-size: 1em;
    }
}
